pandas
torch
transformers

langchain_core
langchain
langchain_community
langchain-experimental
open_clip_torch

langchain-huggingface
langchain_openai

faiss-cpu

unstructured 
unstructured[image]
unstructured[md]
unstructured[pptx]
unstructured[xlsx]
unstructured[docx]
#python-magic 
#python-pptx
#openpyxl
assemblyai

PyPDF2
pymupdf
Pillow
pydub
#libmagic
#python-magic
#python-magic-bin
#python-magic

#umap
umap-learn